/* Color Theme Swatches in Hex */
$Northern-Lights-Beach-1-hex: #012340;
$Northern-Lights-Beach-2-hex: #025959;
$Northern-Lights-Beach-3-hex: #027333;
$Northern-Lights-Beach-4-hex: #03a63c;
$Northern-Lights-Beach-5-hex: #04d939;

$branding-color-primary: $Northern-Lights-Beach-4-hex;
$branding-color-secondary: $Northern-Lights-Beach-5-hex;
$background-color-primary: $Northern-Lights-Beach-1-hex;
$background-color-secondary: $Northern-Lights-Beach-2-hex;

// /* Color Theme Swatches in RGBA */
// $Northern-Lights-Beach-1-rgba: rgba(1,34,63, 1);
// $Northern-Lights-Beach-2-rgba: rgba(1,89,89, 1);
// $Northern-Lights-Beach-3-rgba: rgba(2,114,51, 1);
// $Northern-Lights-Beach-4-rgba: rgba(3,165,60, 1);
// $Northern-Lights-Beach-5-rgba: rgba(4,216,57, 1);

// /* Color Theme Swatches in HSLA */
// $Northern-Lights-Beach-1-hsla: hsla(208, 96, 12, 1);
// $Northern-Lights-Beach-2-hsla: hsla(180, 96, 17, 1);
// $Northern-Lights-Beach-3-hsla: hsla(146, 96, 22, 1);
// $Northern-Lights-Beach-4-hsla: hsla(140, 96, 33, 1);
// $Northern-Lights-Beach-5-hsla: hsla(135, 96, 43, 1);
