@use '@/styles/colors';
@use '@/styles/fonts';
@use '@/styles/utils';

section {
  @include utils.text-container;
}

#hero {
  .greeting {
    font-size: 0.8rem;
    & > span {
      display: block;
      margin-top: 1em;

      .author-name {
        @include fonts.heading;

        margin-right: 0.2em;

        font-size: 4rem;
        color: colors.$branding-color-primary;
      }
    }
  }

  h2 .activity {
    color: colors.$branding-color-primary;
  }
}
