@use '@/styles/colors';
@use '@/styles/utils';

.footer {
  @include utils.text-container;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0;

  background-color: colors.$background-color-secondary;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1em;

  list-style: none;

  svg * {
    fill: colors.$icons-color;
  }
  svg:hover * {
    fill: colors.$branding-color-secondary;
  }
}
