@use '@/styles/colors';
@use '@/styles/fonts';

:root {
  @include fonts.root;

  color-scheme: light dark;
  color: colors.$text-color;
  background-color: colors.$background-color-primary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: colors.$branding-color-secondary;
}
a:hover {
  color: lighten($color: colors.$branding-color-secondary, $amount: 15%);
  text-decoration: none;
}
a:visited {
  color: darken($color: colors.$branding-color-secondary, $amount: 15%);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3 {
  @include fonts.heading;
}

p {
  @include fonts.text-normal;
}

small {
  @include fonts.text-small;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

// This class is used to hide elements visually but keep them accessible to screen readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
